/* src/components/FlexboxGrid.css */
.flex-container {
    display: flex;
    justify-content: space-between; /* Space items evenly */
    flex-wrap: wrap; /* Allow wrapping to the next line */
    margin: 10px; /* Add some margin around the container */
    margin-left:50px;
    margin-top: 100px;
   
}

.flex-item {
    background-color: #8cccbe; /* Light grey background */
    padding: 10px; /* Padding inside each item */
    margin: 3px; /* Space between items */
    flex: 1 1 calc(15% - 10px); /* Grow and shrink, taking up 25% of the width minus margins */
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2); /* Simple shadow effect */
    text-align: center; /* Center text */
    border-radius: 20px;
}
