/* src/components/Sidebar.css */
.sidebar {
    width: 250px; /* Width of the sidebar */
    background-color: #2a93bd; /* Dark background */
    color: white; /* White text */
    padding: 20px; /* Padding inside the sidebar */
    height: 100vh; /* Full height */
    position: fixed; /* Keep it fixed */
    left: 0; /* Align to the left */
    
}


.sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

.sidebar ul li {
    padding: 10px 0; /* Space between items */
}

.sidebar ul li a {
    color: white; /* White links */
    text-decoration: none; /* Remove underline */
}

.sidebar ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}
